html{
    font-size: 10.5px;
    line-height: 10.5px;
}
body{
    font-size: 1.4rem;
    line-height: 1.7rem;
}
body{font-family: -apple-system, BlinkMacSystemFont,"Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;}
.blind{position:absolute;width:1px;height:1px;overflow:hidden;z-index:-1;border:0;clip-path: polygon(0 0, 0 0, 0 0);}
.wrap{width: 100%; min-width: 1340px;}
header,main,footer>div{
    width: 1280px;
    margin: 0  auto;
}
header{
    max-width: 1730px;
    display: flex;
    flex-flow: column;
    padding: 0px 0 27px;
}
/* 서치 바 */
form{    
    display: flex;    
    align-items: center;    
    width: 100%;
}
.search_bar{
    position: relative; 
    display: flex;
    align-items: center;
    width: 708px;
    height: 60px;
    margin: 0 auto;
    padding: 15px 0;
    border: 1px solid #03c75a;
    border-radius: 62px;
    box-sizing: border-box;
}
.search_bar:hover{box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:68px;
    height: 60px; 
    padding-left: 26px;
    padding-right: 16px;
    box-sizing: border-box;   
    /* margin-left: 1px; */
}
.logo a::after{  
    content: "";
    display:flex;
    width: 24px;
    height: 24px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -25px -360px;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 27px;
    border: 0;
    margin-left: 2px;
    font-size: 2rem;
    outline: none;
}
#search::placeholder{  opacity: 0;  color:rgba(0, 0, 0, 0.2);}
#search:focus::placeholder{  opacity: 1;}
input::-webkit-search-decoration,input::-webkit-search-cancel-button,input::-webkit-search-results-button,input::-webkit-search-results-decoration{    display:none;}
.search_bar button{
    border: 0; 
    cursor: pointer;  
    padding: 0;
}
.keyboard{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position: -254px -254px;
    width: 24px;
	height: 14px;
}
.search_history{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position: -318px -247px;
    width: 10px;
    height: 6px;
    margin-left: 12px;
}
#search div{
    display: flex; 
    align-items: center;
}
.search_bar div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 64px auto 42px;
}
.search_button{
    position: absolute;
    top:50%;
    right: 27px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    transform: translateY(-48%);
    background: url('../img/search.svg') no-repeat ;
    cursor: pointer;
}
/* 간편메뉴 */
.side_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 6px;
    width: 100%;
}
.side_menu>div{
    display: flex;
}
.n_pay,.n_talk,.n_notice{
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7px;
}
.menu_button{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 26px;
    height: 26px;
    padding:10px 0;
}
.n_talk{
    margin-right: 14px;
}
.n_pay{
    margin-left: 17px;
}
.n_notice{
    width: 26px;
    height: 26px;
    padding:10px 0;
}
.menu_button:hover:before,.n_pay:hover:before,.n_talk:hover:before,.n_notice:hover:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: flex-start;
    width: 46px;
    height: 46px;
    background: #f5f7f8 ;
    border-radius: 50%;    
    transform: translate(-50%,-50%);
}
.menu_button::after,.n_pay::after,.n_talk::after,.n_notice::after{
    content: "";
    position: absolute;
    float: left;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
.menu_button::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  0px -333px;
    width: 26px;
    height: 26px;
    justify-content: flex-start;
}
.side_menu section{position: relative;}
.hidden_nav{display: none;}
.open.hidden_nav{
    position: absolute;
    top: 55px;
    left: -10px;
    display: block;
    width: 420px;
    height: 740px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
    /* overflow: */
}
.hidden_nav>p{
    height: 64px;
    width: 420px;
    padding: 23px 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.h_n_content{
    padding:23px 20px;
    overflow: auto;
}
.h_n_content span a{    
    display: flex;    
    align-items: center;}
.h_n_content span a::after{
    content: "";
    width: 10px;
    height: 12px;
	background: url('../img/sp_main.2b26eb67.png') no-repeat -208px -404px;
    background-size: 434px 416px;
}
.h_n_content>ul{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top:20px;
}
.h_n_top li{
    width: 65px;
    height: 70px;
}
.h_n_top li a{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: #519b71 1px solid;
    /* font-size: 13px; */
    /* line-height: 21px; */
}
.h_n_top a::before{
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-position:   -1px -128px;
    background-size: 434px 416px;
    border: 1px solid;
}
.h_n_top a::after{
    content: "";
    position: absolute;
    top:25%;
    left: 50%;
    display: inline-block;
    width: 38px;
    height: 38px;
    transform: translate(-50%,-25%);
}
.h_n_top .mail::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-position: -253px -94px;
    background-size: 434px 416px;
}
.h_n_top .cafe::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -254px -5px;
}
.h_n_top .blog::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -204px -102px;
}
.h_n_top .n_shop::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.h_n_top .pay::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -400px;
}
.h_n_top .stock::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.h_n_top .keep::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.h_n_top .talk::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.n_pay::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -295px -177px;
    width: 32px;
    height: 32px;
}
.n_talk::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -108px -333px;
    width: 26px;
    height: 26px;
}

.n_notice::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -54px -333px;
    width: 26px;
    height: 26px;
}
/* 간편메뉴 끝 */
/* 바로가기 메뉴 */
.menu_group{ 
    position: relative;
    height: 110px;   
}
 .show_m{
    position: absolute;
    top: -8%;
    left: 50%;
    width: 710px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transform: translate(-50%,0);
    border-radius: 8px;
}
.open .show_m{
    height: 366px;
    border: 1px solid #e3e5e8;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 1px #e3e5e8, 0 4px 8px 0 rgba(0,0,0,.3);
    z-index: 2;

}
.short_cut_menu{
    display: flex;
    width: 710px;
    /* width: 662px; */
    height: 114px;
    padding: 19px 23px 0;
    box-sizing: border-box;
}
.short_cut_menu .s_c_icon{
    height:55px;
}
.short_cut_menu li{
    position: relative;
    width: 50px;
    height: 73px;
}
.short_cut_menu>li:hover::before{
    content: "";
    position: absolute;
    display: flex;
    top: 30%;
    left:50%;
    width: 45px;
    height: 40px;
    border-radius: 17px;
    transform: translate(-50%,-35%);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.short_cut_menu li+li{
    margin-left: 11px;
}
.short_cut_menu .shopping_icon,
.short_cut_menu .webtoon_icon{
    margin-left: 12px;
}
.short_cut_menu li a{
    position: relative;
}
.short_cut_menu>li a::before{
    content: "";
    display: flex;
    width: 50px;
    height: 52px;
    background: url('../img/sp_main.ae81c9d5.png') no-repeat ;
    background-position:  -2px -129px;
    background-size: 444px 434px;  
}
.short_cut_menu>li a::after{
    content: "";
    position: absolute;
    /* border: 1px solid; */
    top:33%;
    left: 50%;
    background: url('../img/sp_main.ae81c9d5.png') no-repeat ;
    background-size: 444px 434px;
    transform: translate(-50%,-50%);    
    -moz-transform: translate(18%,44%);
}
.short_cut_menu .mail_icon a::after{
    background-position:-254px -94px;
    width: 36px;
	height: 36px;
}
.short_cut_menu .cafe_icon a::after{
    background-position: -254px -4px;
	width: 36px;
	height: 36px;
}
.short_cut_menu .blog_icon a::after{
    background-position:  -204px -103px;
	width: 38px;
	height: 34px;
}
.short_cut_menu .shopping_icon a::after{
 background-position:  -94px -214px;
 width: 36px;
 height: 34px;
}
.short_cut_menu .news_icon a::after{
 background-position:-4px -215px;
 width: 36px;
 height: 32px;   
}
.short_cut_menu .stock_icon a::after{
 background-position:-185px -217px;
 width: 34px;
 height: 28px;   
}
.short_cut_menu .real_estate_icon a::after{
 background-position: -50px -214px;
 width: 34px;
 height: 34px;
}
.short_cut_menu .map_icon a::after{
 background-position:  -201px -6px;
 width: 48px;
 height: 36px;
}
.short_cut_menu .webtoon_icon a::after{
 background-position: -229px -214px;
 width: 36px;
 height: 34px;
}
.short_cut_menu .streaming_icon a::after{
    background: url('../img/stream_icon.png') no-repeat center ;
    width: 33px;
    height: 32px;
    background-size: 44px 44px ; 
}
.short_cut_menu .s_c_icon a::before{
    background-position:  -262px -154px;
    position: absolute;
 width: 20px;
 height: 6px;   
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.short_cut_menu .s_c_icon a{
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    background: url('../img/sp_main.ae81c9d5.png') no-repeat ;
    background-position:  -2px -129px;
    background-size: 444px 434px;
}
.open .short_cut_menu .s_c_icon a::before{
    background-position:  -168px -384px;
    width: 20px;
    height: 20px;
}
.short_cut_menu .s_c_icon a:hover::after{
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    background: url('../img/sp_main.ae81c9d5.png') no-repeat ;
    background-size: 444px 434px; 
    background-position:  -63px -71px;
    top:50%;
    opacity: 0.2;
}
.short_cut_menu li a span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    letter-spacing: -0.4px;
}
.sc_m_full{
    display: none;
}
.open .sc_m_full{
    width: 710px;
    height: 251px;
    border-top: 1px solid #e3e5e8;
    padding: 18px 24px 25px;
    box-sizing: border-box;
    background: #fafbfb;
}
.sc_m_full>li>a{
    display: inline-block;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: -0.4px;
    margin-left: 1px;
}
.sc_m_full>li>a::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 12px;
	background: url('../img/sp_main.ae81c9d5.png') no-repeat -8px -422px;
	background-size: 444px 434px;
    margin-left: 7px;
}
.m_f_list{
    display: flex;
    flex-flow: wrap;
}
.m_f_list li{
    width: 165px;
    height: 30px;
    margin-bottom: 16px;
}
.m_f_list a{
    position: relative;
    top:0px;
    left: 0;
    display: flex;
    align-items: center;
    margin-top: 1px;
    letter-spacing: -0.4px;

}
.m_f_list a::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
	background: url('../img/sp_main.ae81c9d5.png') no-repeat -31px -299px;
    background-size: 444px 434px;
    margin-right: 7px;
    margin-top: -1px;
}
.m_f_list a::after{
    content: "";
    position: absolute;
    display: inline-block;
    top:50%;
    left: 0;
    width: 30px;
    height: 30px;
    background:url('../img/sp_main.ae81c9d5.png') no-repeat;
    background-size: 444px 434px;
    transform: translate(0%,-50%);
}
.m_f_list .weather::after{
    background-position:-173px -334px;
	width: 26px;
	height: 22px;
}
.m_f_list .n_game::after{
    background-position: -334px -121px;
	width: 26px;
	height: 20px;
}
.m_f_list .sc_n_pay::after{
    background-position: -28px -334px;
	width: 26px;
	height: 22px;
}
.m_f_list .n_tv::after{
    background-position: 1px -330px;
}
.m_f_list .book::after{
    background-position: -334px -29px;
}
.m_f_list .band::after{
    background-position: -334px 0px;
}
.m_f_list .dictionary::after{
    background-position: -334px -87px;
}
.m_f_list .shop_live::after{
    background-position: -86px -331px;
    height: 28px;
}
.m_f_list .sports::after{
    background-position: -115px -332px;
    height: 26px;
}
.m_f_list .series::after{
    background-position: -57px -332px;
    height: 26px;
}
.m_f_list .web_novel::after{
    background-position: -202px -332px;
    height: 26px;
    width: 26px;
}
.m_f_list .n_int::after{
    background-position:-334px -203px;
}
.m_f_list .calender::after{
    background-position: -334px -58px;
}
.m_f_list .happy::after{
    background-position: -334px -145px;
}
.m_f_list .m_box::after{
    background-position: -334px -290px;
}
.m_f_list .vibe::after{
    background-position:-144px -330px;
}
 /* 바로가기 메뉴 끝 */
main{
    display: flex;
}
/* 왼쪽 메인컨텐츠 */
.left_content{
    width: 832px; 
    margin-right: 28px;
}
.ad_left{    
    width: 830px;    
    height: 130px; 
    overflow: hidden;
    /* box-sizing: border-box; */
    border: 1px solid #fafbfb ;
}
.ad_left img{    
    width: 100%;    
    height: 100%;
}
main section>*+*{
    margin-top: 15px;
    }
main .left_content>*{
    /* border: 1px solid #e3e5e8;  */
    border-radius: 8px;
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
}

/* 뉴스 컨텐츠 */
.main_news{    
    width: 828px;    
    height: 424px;
    border: 1px solid #fafbfb;
}
.main_news a:hover{
    text-decoration: underline;
}    

/* .m_news_type .m_n_t_sports a:hover{
    text-decoration: none;
}  */
.content_wrap{    
    padding: 18px 20px 17px;
}
.m_news_type{
    display: flex; 
    /* font-size: 16px; */
    font-size: 1.6rem;
    margin-bottom: 17px;
    letter-spacing: -0.5px;
    line-height: 22px;
}
.m_news_type li{
    display: flex; 
    align-items: center;
    justify-content: center;
    color: rgba(8,8,8,.5);
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.m_news_type li.on{
    color: #080808;
}
.m_news_type li+li::before{
    content:"";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 14px 0 14px;
    width: 1px;
    height: 15px;
    transform: rotate(15deg);
    background: #d3d5d7;
}
.m_n_t_stand{
    letter-spacing: -0.39px;
}
.m_news_type .m_n_t_stand::after{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #d3d5d7;
    margin: 0 7px ;
}
.m_n_t_edit{
    letter-spacing: -0.42px;
}
.m_n_t_enter{
    letter-spacing:-0.05px;
}
.m_news_type .m_n_t_sports a:nth-of-type(2){
    margin-left:7px;
    text-decoration: none;
}
.m_news_type .m_n_t_enter::before{
    margin: 0 12px  0 13px;
}
.m_news_type .m_n_t_sports::before{
    margin: 0 13px  0 13px;
}
.m_news_type .m_n_t_econo::before{
    margin:0 10px 0 14px;
}
.m_news_type .m_n_t_edit::before{
    display: none;
} 
.m_n_t_sports a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.live_badge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 18px;
    background:#f4361e;
    border-radius: 20px;
    margin-top: 1px;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;

}
.live_badge::before{
    content: "";
    display: inline-block;
	width: 14px;
	height: 10px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat -118px -117px;
	background-size: 434px 416px;
    margin-right: 4px;
}
.m_n_t_sports a .live_badge{ 
    text-decoration: none;
}
.m_n_t_sports a:hover .live_badge{ 
    text-decoration-line: none;
}
.m_news_type .m_n_t_ad{
    display: flex;
    width: 190px; 
    height: 22px;
    margin-left: auto;   
    margin-right: 11px; 
    align-items: center;
}
.m_n_t_ad a{
    display: flex;
    align-items: center;
}
.m_news_type .m_n_t_ad img{
    width: 193px; 
    height: 19px;
    font-size: 0;
} 
.m_news_type .m_n_t_ad::before{
    display: none;
} 
.m_news_sub_title{
    position: relative;
    display: flex;
    height: 50px;
    margin: 18px 0px;
    padding: 17px 18px 18px;
    background: #f6f7f9;
    box-sizing: border-box;
    border-radius: 5px;
    /* font-size: 14px; */
}
.m_news_sub_title a:hover{
    text-decoration: underline;
}

.all_news{
    display: flex;
    justify-content: center;
    align-items: center;
}


.all_news button{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position: -318px -247px;
    width: 10px;
    height: 6px;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-left:4px ;
    margin-right: 10px;
}
.open .all_news button{
    transform: rotate(180deg);
}

.subscribe{
    display: none;
    position: absolute;
    top: 40px;
    left: 29px;  
    width: 140px;
    height: 50px;
    border: 1px solid #2868f2;
    border-radius: 5px;
    background: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.open .subscribe{
    display: flex;
}
.subscribe::before{
    content: "";
    position: absolute;
    bottom: 50px;
    left:60px;
    width: 20px;
    height: 11px;
    background: url(../img/sp_main.2b26eb67.png)-294px -384px;
	background-size: 434px 416px;
}
.news_detail::before{
    content: "";
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #d3d4d6;
    margin-right: 5px;
}
.news_detail a+a::before{
    content: "\00b7";
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.news_detail a+a::before:hover{
   text-decoration: none;
}
.n_detail_select{
    margin-left: auto;
}
.n_detail_select ul{
    display: flex;
}

.n_detail_select li+li::before{
    content: "";
    display:inline-block;
    width: 1px;
    height: 12px;
    background: #d3d4d6;
    margin: 0 8px 0 7px             
}
.n_d_s_stand{
    margin-right: 3px;
}
.news_home{
    margin-right: 1px;
    font-weight: bold;
}
.m_n_hidden_button a:hover{
    text-decoration: underline;
}
.m_news_list{
    width: 788px;
    height: 224px;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}
.m_news_list li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 54px;
    border-right:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    position: relative;
    font-size: 12px;
}
.m_news_list li:nth-last-of-type(-n+6){
    border-bottom: 0;
}
.m_news_list li:nth-of-type(3n+1){
    width: 130px;
}

.m_news_list li>a{
    display: flex;
justify-content: center;
align-items: center;
    width: 100%;
    height: 100%;
}
.m_news_list li:last-of-type{
    border-radius: 0 0 5px 0;
}
.m_news_list li:nth-last-of-type(6){
    border-radius: 0 0 0 5px;

}


.m_news_list li:hover .m_n_hidden_button{
    display: flex;
 
}
.m_news_list li img{
    max-width: 100px;
    height: 25px;
    object-fit: contain;
}
.m_n_hidden_button{
    width: 100%;
    height: 55px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background: #2868f2;
    top: -1px;
    left: 0;
}
.m_n_hidden_button a+a::before{
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 1px;
    height: 12px;
    background: #ebebeb;
}

.m_news_list li:nth-of-type(2n){
    width: 131px;
}
.m_news_list li:nth-of-type(6n){
    border-right: 0px;
}

.m_news_arrow{
    height: 57px;
    font-size: 1.3rem;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 9px 0 11px;
    position: relative;
}
.m_news_arrow span{
    margin:0 12px 0 24px;
    letter-spacing: -0.3px;
    padding-right: 12px;
}
.m_news_arrow i{color: rgba(96,96,96,.5);}
.m_news_arrow b{
    font-weight: 600;
    color: #4768bb;}
.prev_b{transform: rotate(180deg);}
.m_news_arrow>div{
    position: absolute;
    width: 57px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list_btn,.box_btn{
    width: 18px;
    height: 18px;
    background: url(../img/sp_main.ae81c9d5.png);
    background-size: 444px 434px;
    border: 0;
}
.list_btn{
    background-position: -392px -206px;
}
.box_btn{
    background-position: -120px -92px;
}
.list_btn:hover{
    background-position: -392px -185px
}
.list_btn.active{
    background-position: -392px -290px;
}
.box_btn:hover{
    background-position: -120px -71px;
}
.box_btn.active{
    background-position: -199px -301px;
}

/* .m_news_arrow .prev_b,.m_news_arrow .next_b{
    margin-bottom: 3px;
} */
.prev_b,.next_b{
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: relative;
    background: white;
}
.prev_b::after,.next_b::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background:url('../img/sp_main.2b26eb67.png')-425px -90px;
	background-size: 434px 416px;
    width: 7px;
    height:10px;
    transform: translate(-50%,-50%);
}
/* 뉴스컨텐츠 끝 */
/* 쇼핑컨텐츠 */

.main_shopping{
    margin-top: 16px;
    width: 830px;
    height: 560px;
}
.main_shopping .content_wrap{
    padding:19px 20px 1px
}
.main_shopping a:hover{
    text-decoration: underline;
}
.m_shop_type{
    display: flex; 
    font-size: 1.6rem;
    line-height: 23px;
}
.m_shop_type li{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.m_shop_type li+li::before{
    content:"";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 12px 0 12px;
    width: 1px;
    height: 17px;
    transform: rotate(15deg);
    background: lightgray;
}
.m_shop_type li.on{
    font-weight: bold;
}
.m_shop_type .m_s_t_deal::before{
    margin: 0 13px;

}
.m_sub_title_wrap{
    display: flex;
    margin: 16px 0px 18px;
    justify-content: space-between;
}
.m_sub_title{
    position: relative;
    display: flex;
    width: 668px ;
    height: 50px;
    padding: 18px 20px;
    border-radius: 5px;
    background: #f6f7f9;
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: 21px;
    letter-spacing: -0.4px;
    align-items: center;
}
/* .m_sub_title a:hover{
    text-decoration: underline;
} */
.shop_today{
    display: flex;
    align-items: center;
        /* font-size: 14px; */
    font-weight: bold;
    letter-spacing: -0.7px;
}
.shop_today::after{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 10px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightgray;
    margin: 0 8px 0 9px;
}
.gmarket_ad a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmarket_ad i{
    color: #9858f5;
}
.gmarket_ad img{
    width: 48px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px ;

}
.m_shop_arrow{
    display: flex;
    align-items: center;
    margin-left:14px ;
    font-size: 1.3rem;
}
.m_shop_arrow .prev_b{
    border-radius:0 5px 5px 0;
    margin-left: 9px;   
    width: 30px;
    height: 30px; 
}
.m_shop_arrow .next_b{
    border-left: 0;
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0;
}
.m_s_content{
    display: flex;
}
.goods_list{
    display: flex;
    flex-flow: row wrap;
    width: 522px;
    height: 375px;
    margin-right: 19px;
}
.goods_list a div{
    width: 98px;
    height: 126px;
    overflow: hidden;
    border-radius: 5px;
}

.goods_list a{
    display:inline-block;
    height: 171px;
}

.goods_list>li{
    font-size: 13px;
    width: 98px;
    height: 171px;
}
.goods_list>li:nth-of-type(5n+1){margin-left: 0px;}
.goods_list>li+li{margin-left: 8px;}
.goods_list img{
    width: 98px;
    height:  126px;
    border-radius: 5px;
    transition: 0.6s all ease 0s;
}
.goods_list>li:hover img{
    transform: scale(1.1);
}
.goods_list li p{
    margin-top: 8px;
    font-size: 1.3rem;
    line-height: 19px;
    letter-spacing: -.4px
}
.goods_list li div p:hover{
    text-decoration: underline;
}
.s_mall_list{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.6px;
    box-sizing: border-box;
    width: 248px;
    height: 88px;
    display: flex;
    flex-flow: column;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #fafbfd;
    padding:8px 10px;
}
.s_mall_list ul{
    display: flex;
    justify-content: space-between;

}
.s_mall_list li{
    display: flex;
    align-items: center;
}
.s_mall_list li.on{
    font-weight: bold;
}

.s_mall_list ul li+li::before{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightgray;
}
.s_mall_list .middle{
    margin: 5px 0;
}
.s_mall_list .top li+li::before{
    margin:0 16px;
}
.s_mall_list .middle li+li::before{
    margin: 0 4px 0 3px;
}
.s_mall_list .bottom .half_club::before{
    margin:0 14px;
}
.s_mall_list .bottom .fashion_plus::before{
    margin:0 13px 0 14px;

}

/* .s_mall_list .ssg::before,.s_mall_list .gs::before{
    display: none;
} */
.middle::before,.bottom::before{
    display: none;
}
.m_s_short_cut{
    display: flex;
    width: 248px;
    margin: 13px 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #fafbfd;
    box-sizing: border-box;
    padding: 8px 10px;
    /* font-size: 13px ; */
    justify-content: space-between;
}

.m_s_short_cut li {
    width: 55px;
}
.m_s_short_cut li a{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    line-height: 17px;
    font-size: 13px;
    }
.m_s_short_cut li a::before{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 32px;
    height: 32px;
    border: 1px solid #ebebeb;
    margin-bottom: 4px;
    border-radius: 50%;
}
.m_s_short_cut a::after{
    position: absolute;
    top:23%;
    left: 50%;
    transform: translate(-50%,-25%);
    content: "";
}
.m_s_short_cut .home::after{
    background: url(../img/sp_main.2b26eb67.png) -303px -53px;
	background-size: 434px 416px;
	width: 17px;
	height: 17px;
}
.m_s_short_cut .review::after{
    background: url(../img/sp_main.79463f15.png)-77px -41px;
	background-size: 158px 137px;
	width: 16px;
	height: 17px;
}
.m_s_short_cut .order::after{
    top:25%;
    left: 50%;
    transform: translate(-45%,-13%);
    background: url(../img/sp_main.2b26eb67.png) -303px -88px;
	background-size: 434px 416px;
	width: 17px;
	height: 17px;
}
.m_s_short_cut .basket::after{
    background: url(../img/sp_main.2b26eb67.png)-207px -273px;
	background-size: 434px 416px;
	width: 17px;
	height: 17px;
}

.shop_ad{
    font-size: 1.3rem;
    line-height: 19px;
    letter-spacing: -0.5px;
}
.shop_ad img{
    border-radius: 5px;
    border: 1px solid #ebebeb;
    width: 246px;
    height: 144px;
    object-fit: contain;
    margin-bottom: 5px;
}
.shop_ad span{
    display: flex;
    justify-content: center;
    line-height: 17px;
}
.main_shopping .m_news_arrow span{
    margin: 0 14px 0 16px;
    padding-right: 4px;
}
.main_etc{
    margin-top: 16px;
    width: 830px;
    height: 1145px;
    box-sizing: border-box;
    margin-bottom: 74px;
}
.main_etc .content{
    display: flex;
    padding: 20px 21px 0;

}
.main_etc .content li{
    display: flex;
    font-size: 1.6rem;
}
.main_etc .content li+li::before{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 12px 0 12px;
    width: 1px;
    height: 16px;
    transform: rotate(15deg);
    background: lightgray;
}
.best_sub a{
    display: flex;
}
.best_sub a span{
    display: flex;
    align-items: center;
}
.best_sub span+span::before{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #d3d5d7;
    margin: 0 5px 0 6px;
}
/* .best_sub_content{display: none;} */

.b_s_c_select{
    height: 50px;
    background: #f5f7f8;
    display: flex;
    padding: 7px 20px 7px 12px;
    box-sizing: border-box;
    margin: 19px 20px 18px ;
    justify-content: space-between;
    border-radius: 4px;
}
.b_s_c_select .home{
    display:flex;
    height: 100%;
    align-items: center;
    font-weight: bold;
    margin-top: 2px;
}
.b_s_c_category{
    display: flex;
}
.b_s_c_category li{
    border: 1px solid #ebebeb;
    height: 36px;
    line-height: 34px;
    padding: 0 12px;
    background: white;
    border-radius:18px ;
    text-align: center;
    box-sizing: border-box;
    letter-spacing: -0.5px;
}
.b_s_c_category li+li{
    margin-left: 4px;
}
.b_s_c_category li:hover{
    background: #f1f1f1 ;
    border:1px solid #5290ff;
}
.b_s_c_category li.active{
    font-weight: bold;
    background: #5290ff ;
    color: white;
    border:1px solid #5290ff;
}
.select_all{ 
    padding: 0 20px;
}
.all_list {
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
}
.all_list li{
    width: 183px;
    height: 195px;
}
.all_list li:nth-of-type(4n+1){
    margin-left: 0;
    margin-bottom: 20px;
}
.all_list li+li{
    margin-left: 19px;

}
.all_list li div{
    border-radius: 5px;
    width: 183px;
    height: 120px;
    overflow: hidden;
}
.all_list li:hover p{
    text-decoration: underline;
}
.all_list li p{
    margin: 13px 0 7px;
    letter-spacing: -0.5px;
}
.all_list li img{
    width: 100%;
    transition: 0.6s all ease 0s;
}
.all_list li:hover img{
    transform: scale(1.1);
}
.all_list li span{
    display: flex;
    align-items: center ;
    font-size: 1.3rem;
    color: #606060;

}
.all_list li span::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #f0f0f0 ;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.all_list .job span::before{
    background: url(../img/job2.jpg);
    background-size: 20px;
}
.all_list .ohouse span::before{
    background: url(../img/오늘의집2.jpg);
    background-size: 20px;
}
.all_list .somelab span::before{
    background: url(../img/썸랩2.jpg);
    background-size: 20px;
}
.all_list .ddung span::before{
    background: url(../img/뚱뚱보.png);
    background-size: 20px;
}
.all_list .uquiz span::before{
    background: url(../img/유퀴즈\ \(2\).jpg);
    background-size: 20px;
}
.all_list .maven span::before{
    background: url(../img/메이븐2.jpg);
    background-size: 20px;
}
.all_list .ye span::before{
    background: url(../img/예뚱이2.jpg);
    background-size: 20px;
}

.all_list .ohgame span::before{
    background: url(../img/오겜2.png);
    background-size: 20px;
}
.all_list .gcloset span::before{
    background: url(../img/Gcloset.png);
    background-size: 20px;
}
.all_list .audi span::before{
    background: url(../img/audi2.png);
    background-size: 20px;
}

.short_video{
    padding-top: 25px;
    border-top:1px solid #ebebeb ;
}

.s_v_title>span{
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}
.s_v_list{
    display: flex;
    margin-bottom: 19px;
}
.s_v_list li{
    width: 108px;
    height: 156px;
    height:235px ;

}

.s_v_list li+li{
    margin-left: 28px;
}
.s_v_list div{
    border-radius: 4px;
    width: 108px;
    height: 156px;
    overflow: hidden;
    
}
.s_v_list img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.6s all ease 0s;

}
.s_v_list li:hover img{
    transform: scale(1.1);
}
.s_v_list li:hover p{
    text-decoration: underline;
}
.s_v_list p{
    margin: 8px 0;
    font-size: 1.4rem;
    letter-spacing: -0.5px;
    line-height: 20px;
    max-height: 40px;
}
.s_v_list span{
    font-size: 1.3rem;
    color: #606060;
}
.best_sub_content .more_view{
    border-top:1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}
.more_view button{
    font-size: 1.3rem;
    background: none;
    border: none ;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.more_view div{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    overflow: hidden;
}
.more_view .material-symbols-outlined{
    color: #5290ff;
}
/* .more_view button::after{
    content: "";
    
    background: url(../img/sp_main.ae81c9d5.png) no-repeat -649px -473px;
	width: 12px;
	height: 12px;
} */

.right_content{
    max-width: 872px;
    width: 100%;
    min-width: 422px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.r_c_main{
    height: 1022px;
}
.right_content article>*{ 
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04); border-radius: 8px;}
.right_content article>*+*{margin-top: 16px;}
#login{
    display: flex;
    flex-flow: column;
    width: 420px;
    height: 164px;
    box-sizing: border-box;
    padding: 23px 20px 22px;
    /* font-size: 14px; */
    align-items: center;
}
#login>div a+a::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 13px;
    background: #ebebeb;
}
#login span{
    letter-spacing: -0.5px;
}
#login .cs{
    letter-spacing: -0.5px;
    font-size: 1.3rem;
}


.login_box{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 56px;
    color: white  ;
    background: #03c75a;
    border-radius: 5px;
    margin: 13px 0 18px;
    flex: none;
}
.login_box::before{
    content: "";
    display: inline-block;
    background: url(../img/sp_main.2b26eb67.png)-120px -166px;
	background-size: 434px 416px;
	width: 72px;
	height: 14px;
    margin-right: 8px;
}


.ad_right{
    width: 420px;
    height: 242px;
    overflow: hidden;
    margin-top: 16px;
}
.ad_right img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}
.main_weather,.main_stock{
    width: 420px;
    height: 236px;
}
.main_weather{
    box-sizing: border-box;
    padding: 13px 18px 18px;
}
.weather_head{
    display: flex;
    padding-bottom: 13px;
    align-items: center;
    justify-content: space-between ;
}
.weather_head>div{
    display: flex;
    align-items: center;
}
.weather_head span{
    font-size: 1.3rem
}
.weather_head .title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 6px;
}
.weather_badge{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    width: 79px;
    height: 24px;
    border-radius: 15px;
    border: 1px solid #ebebeb;
    letter-spacing: -0.5px;
    padding-left: 7px;
    box-sizing: border-box;
}
.weather_badge::before{
    content: "";
    display: flex;
    background: url(../img/sp_main.ae81c9d5.png) no-repeat -432px -117px;
	background-size: 444px 434px;
	width: 12px;
	height: 14px;
    align-items: center;
    margin-right: 2px;
}
.weather_view{
    display: flex;
    border-top: 1px solid #ebebeb;
    justify-content: space-between;
}
.weather_left{
    padding-top: 35px;
    padding-left: 19px;   
}
.w_big_icon{
    display: flex;
    font-size: 3.9rem;
    line-height: 40px;
    
}
.w_big_icon span{
    display: flex;
    flex-flow: column;
    margin-left: 21px;
    letter-spacing: -1.95px;   
    
}
.w_big_icon span i{
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: bold;
    padding-left: 4px;
    padding-top: 4px;
}
.temp{
    margin: 25px 2px 6px 0;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}
.temp span+span::before{
    content:"";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 4px 6px 0 3px;
    width: 1px;
    height: 11px;
    transform: rotate(15deg);
    background: #d3d5d7;
}
.temp .low{
    color: #3172e7;
}
.temp .high{
    display: flex;
    color: #cd3534;
}
.w_big_icon::before{
    content: "";
    display: flex;
    background: url(../img/sp_weather.11654bc0.png)-104px -14px;
	background-size: 641px 587px;
	width: 54px;
	height: 54px;
    margin-left: 4px;

}
.dust{
    display: flex;
    justify-content: center;
    margin-right: 14px;
}
.dust span{
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    font-size: 1.3rem;
}
.dust span+span::before{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 4px 2px 8px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightgray;
}
.dust i{
    margin-left: 4px;
}
.dust .good{
    color: #32a1ff;
}
.dust .normal{
    color: #02c73c;
}
.weather_right{
    padding-top: 22px;
    position: relative;
}
.graph{
    position: absolute;
    width: 180px;
    height: 37px;
    top:49px
}
.graph_text{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.graph_text div{
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    /* border: 1px solid; */
    height: 143px;
    width: 33px;
}
.graph_text .line{
    width: 1px ;
    background:  #ebebeb;
    height: 43px;
    margin-top: 22px;
    margin-right: 1px;
}
.graph_text .w_temp{
    font-size: 14px;
}
.graph_text .w_icon{
    font-size: 1.3rem;
    text-align: center;
}
.time1 .w_temp{
    margin-top: 35px;
}
.time2 .w_temp{
    margin-top: 23px;
}
.time1 .line{
    height: 7px;
}
.time2 .line{
    height: 19px ;
}


.time1 .w_icon{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.time1 .w_icon::before{
    content: "";
    display: flex;
    background: url(../img/sp_weather.11654bc0.png)-39px -527px;
	background-size: 641px 587px;
	width: 21px;
	height: 20px;;
    margin:12px 0 8px;
}

.time2 .w_icon::before{
    content: "";
    display: flex;
    background: url(../img/sp_weather.11654bc0.png) -201px -527px;
	background-size: 641px 587px;
	width: 27px;
	height: 22px;
    margin:12px 0 8px;
}
.time3 .w_icon::before{
    content: "";
    display: flex;
    background: url(../img/sp_weather.11654bc0.png)-167px -527px;
	background-size: 641px 587px;
	width: 28px;
	height: 22px;
    margin:12px 0 8px;
}
.time4 .w_icon::before{
    content: "";
    display: flex;
    background: url(../img/sp_weather.11654bc0.png)-104px -527px;
	background-size: 641px 587px;
	width: 25px;
	height: 23px;
    margin:12px 0 8px;
}
.time5 .w_icon::before{
    content: "";
    display: flex;
    background: url(../img/sp_weather.11654bc0.png)-134px -527px;
	background-size: 641px 587px;
	width: 28px;
	height: 22px;
    margin:12px 0 8px;
}
.widget{
    width: 420px;
    height: 805px;
}
.ad_right2,.whale{
    width: 420px;
    height: 80px;
    overflow: hidden;
}
.ad_right2 img{
    width: 100%;
    height: 100%;
}










footer{
    background: #f5f6f8;
    height: 300px;
}
footer>div{
    border: 1px solid #519b71;
    height: 100%;
}

/* IE9,10 */
@media screen and (min-width:0\0){
    /* Enter your style code */
    .short_cut_menu>li{
        float: left;
    }
} 
@media all and (min-width:2560px){
 
    .wrap{width: 100%; max-width: 1732px;
        box-sizing: border-box;
margin: 0 auto;}
.right_content{
    max-width: 872px;
    width: 100%;
    min-width: 422px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
}
header,main,footer>div{
    width: 1732px;
    margin: 0  auto;
    box-sizing: border-box;
}
.widget_board{
margin-top: 0;
margin-left: 28px ;
}
@supports (-webkit-appearance:none) {
	/* 이 안에 Safari(10.1 이상)에서만 적용할 스타일 작성 */
}
}