body{font-family: -apple-system, BlinkMacSystemFont,"Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;}
.blind{position:absolute;width:1px;height:1px;overflow:hidden;z-index:-1;border:0;clip-path: polygon(0 0, 0 0, 0 0);}
.wrap{width: 100%; min-width: 1340px;}
header,main,footer>div{
    width: 1280px;
    margin: 0  auto;
}
header{
    display: flex;
    flex-flow: column;
    padding: 0px 0 27px;
}
/* 서치 바 */
form{    
    display: flex;    
    align-items: center;    
    width: 100%;
}
.search_bar{
    position: relative; 
    display: flex;
    align-items: center;
    width: 710px;
    height: 60px;
    margin: 0 auto;
    padding: 15px 0;
    border: 1px solid #519b71;
    border-radius: 62px;
    box-sizing: border-box;
}
.search_bar:hover{box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);}
.logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:68px;
    height: 60px; 
    padding-left: 28px;
    padding-right: 16px;
    box-sizing: border-box;   
}
.logo a::after{  
    content: "";
    display:flex;
    width: 24px;
    height: 24px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -25px -360px;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 27px;
    border: 0;
    margin-left: 2px;
    font-size: 18px;
    outline: none;
}
#search::placeholder{    color:rgba(0, 0, 0, 0.2);}
input::-webkit-search-decoration,input::-webkit-search-cancel-button,input::-webkit-search-results-button,input::-webkit-search-results-decoration{    display:none;}
.search_bar button{
    border: 0; 
    cursor: pointer;  
    padding: 0;
}
.keyboard{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position: -254px -254px;
    width: 24px;
	height: 14px;
}
.search_history{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position: -318px -248px;
    width: 10px;
    height: 6px;
    margin-left: 12px;
}
#search div{
    display: flex; 
    align-items: center;
}
.search_bar div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 64px auto 45px;
}
.search_button{
    position: absolute;
    top:50%;
    width: 25px;
    right: 27px;
    height: 25px;
    transform: translateY(-50%);
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position: -213px -333px;
    cursor: pointer;
}
/* 간편메뉴 */
.side_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 5px;
}
.side_menu>div{
    display: flex;
}
.n_pay,.n_talk,.n_notice{
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 7px;
}
.menu_button{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 26px;
    height: 26px;
    padding:10px 0;
}
.n_talk{
    margin-right: 14px;
}
.n_pay{
    margin-left: 17px;
}
.n_notice{
    width: 26px;
    height: 26px;
    padding:10px 0;
}
.menu_button:hover:before,.n_pay:hover:before,.n_talk:hover:before,.n_notice:hover:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: flex-start;
    width: 46px;
    height: 46px;
    background: #f5f7f8 ;
    border-radius: 50%;    
    transform: translate(-50%,-50%);
}
.menu_button::after,.n_pay::after,.n_talk::after,.n_notice::after{
    content: "";
    position: absolute;
    float: left;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
.menu_button::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  0px -333px;
    width: 26px;
    height: 26px;
    justify-content: flex-start;
}
.side_menu section{position: relative;}
.hidden_nav{display: none;}
.open.hidden_nav{
    position: absolute;
    top: 55px;
    left: -10px;
    display: block;
    width: 420px;
    height: 740px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
    /* overflow: */
}
.hidden_nav>p{
    height: 64px;
    width: 420px;
    padding: 23px 20px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.h_n_content{
    padding:23px 20px;
    overflow: auto;
}
.h_n_content span a{    
    display: flex;    
    align-items: center;}
.h_n_content span a::after{
    content: "";
    width: 10px;
    height: 12px;
	background: url('../img/sp_main.2b26eb67.png') no-repeat -208px -404px;
    background-size: 434px 416px;
}
.h_n_content>ul{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top:20px;
}
.h_n_top li{
    width: 65px;
    height: 70px;
}
.h_n_top li a{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: #519b71 1px solid;
    font-size: 13px;
    line-height: 21px;
}
.h_n_top a::before{
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-position:   -1px -128px;
    background-size: 434px 416px;
    border: 1px solid;
}
.h_n_top a::after{
    content: "";
    position: absolute;
    top:25%;
    left: 50%;
    display: inline-block;
    width: 38px;
    height: 38px;
    transform: translate(-50%,-25%);
}
.h_n_top .mail::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-position: -253px -94px;
    background-size: 434px 416px;
}
.h_n_top .cafe::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -254px -5px;
}
.h_n_top .blog::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -204px -102px;
}
.h_n_top .n_shop::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.h_n_top .pay::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -400px;
}
.h_n_top .stock::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.h_n_top .keep::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.h_n_top .talk::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px;
    background-position:   -728px -200px;
}
.n_pay::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -295px -177px;
    width: 32px;
    height: 32px;
}
.n_talk::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -108px -333px;
    width: 26px;
    height: 26px;
}

.n_notice::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -54px -333px;
    width: 26px;
    height: 26px;
}
/* 간편메뉴 끝 */
/* 바로가기 메뉴 */
.menu_group{ 
    position: relative;
    height: 110px;   
}
.show_m{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    top: -7%;
    left: 50%;
    width: 710px;
    box-sizing: border-box;
    font-size: 14px;
    padding-top: 14px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transform: translate(-50%,0);
    z-index: 3;
}
.open .show_m{        
    position: absolute;
    overflow: hidden;    
    top: -7%;
    left: 50%;
    width: 710px;
    height: 367px;
    padding-top: 14px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    transform: translate(-50%,0);
}
.open .short_cut_menu{
    width: 662px;
    height: 99px;
    box-sizing: border-box;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}
.short_cut_menu{
    display: flex;    
    justify-content: center;
    width: 662px;
    height: 100px;
    padding: 7px 0px 20px ;
    box-sizing: border-box;
    font-size: 14px;
    align-items: center;
}
.short_cut_menu>li{
    position: relative;
}
.short_cut_menu>li a{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 52px;
    height: 71px;
}
.short_cut_menu>li+li{
    margin-left: 9px;
}
.short_cut_menu>li a::before{
    content:"";
    position: relative;
    top:-4px;
    left: 0;
    display: flex;
    width: 54px;
    height: 54px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-position:  -1px -129px;
    background-size: 434px 416px ;    
    margin-bottom: 5px;
}
.short_cut_menu>li a::after{
    content: "";
    position: absolute;
    top: 23%;
    left:50%;
    width: 36px;
    height: 35px;
    transform: translate(-52%,-35%);
}
.short_cut_menu>li:hover::before{
    content: "";
    position: absolute;
    display: flex;
    top: 25%;
    left:50%;
    width: 44px;
    height: 40px;
    border-radius: 17px;
    transform: translate(-50%,-35%);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.mail_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -254px -96px;
}
.cafe_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    /* background-size: 434px 416px ;     */
    background-position:  -735px -105px;
}
.blog_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -205px -103px;
}
.shopping_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -94px -213px;
}
.news_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -4px -214px;
}
.stock_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -184px -214px;
}
.real_estate_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -50px -212px;
}
.short_cut_menu .map_icon::before{
    width: 52px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  0 -128px;
}
.short_cut_menu .map_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ; 
    background-position: -199px -5px;
    width: 50px ;
}
.webtoon_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -229px -215px;
}
.streaming_icon::after{
    background: url('../img/stream_icon.png') no-repeat center ;
    background-size: 46px 46px ;    
}

.short_cut_menu .s_c_icon{ 
    position: relative;
    display: flex;
    width: 52px;
    height: 52px;
    margin-bottom: 10px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-position:  -1px -129px;
    background-size: 434px 416px ;    
    top: -8px;    
    }
.short_cut_menu .s_c_icon::before{
    content:"";
    position: absolute;
    top: 25%;
    left:50%;
    width: 36px;
    height: 35px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -254px -140px;
    transform: translate(-50%,-15%);
}
.short_cut_menu .s_c_icon:hover::after{
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    width: 52px;
    height: 52px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -62px -71px;
    transform: translate(-50%,-50%);
    opacity: 0.2;
}
.open .short_cut_menu .s_c_icon::before{
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    width: 22px;
    height: 22px;
    transform: translate(-50%,-50%);
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -388px -336px;
}
/* .short_cut_menu .s_c_icon::after{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position:  -254px -140px;
    transform: translate(-50%,-15%);
} */
.sc_m_full{
    display: none;
    border-top:1px solid rgba(0, 0, 0, 0.2);
}
.open .sc_m_full{
    display: flex;
    width: 710px;
    height: 252px;
    padding: 22px 0 7px 27px;
    box-sizing: border-box;
    background: #fafcfb;
}
.sc_m_full>li>a::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 12px;
	background: url('../img/sp_main.2b26eb67.png') no-repeat -208px -404px;
    background-size: 434px 416px;
    margin-left: 10px;
}
.sc_m_full ul{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px ;
}
.m_f_list li{
    width: 165px;
    height: 30px;
    margin-bottom: 16px;
}
.m_f_list a{
    display: flex;
    align-items: center;
    position: relative;
    top:0px;
    left: -1px;
}
.m_f_list a::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
	background: url('../img/sp_main.2b26eb67.png') no-repeat -31px -273px;
    background-size: 434px 416px;
    margin-right: 6px;
}
.m_f_list a::after{
    content: "";
    position: absolute;
    display: inline-block;
    top:0;
    left: 0;
    width: 30px;
    height: 30px;
}
.weather::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -334px -174px;
     background-size: 434px 416px;
 }
.n_game::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -115px -302px;
     background-size: 434px 416px;
 }
.sc_n_pay::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position:  -334px -28px;
     background-size: 434px 416px;
}
.n_tv::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position:  -334px 1px;
     background-size: 434px 416px;
}
.book::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -28px -303px;
     background-size: 434px 416px;
}
.band::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: 1px -303px;
     background-size: 434px 416px;
}
.dictionary::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -86px -303px;;
     background-size: 434px 416px;
}
.shop_live::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -334px -86px;
     background-size: 434px 416px;
}
.sports::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -334px -115px;
     background-size: 434px 416px;
}
.series::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -334px -57px;
     background-size: 434px 416px;
}
.web_novel::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -334px -202px;
     background-size: 434px 416px;
}
.n_int::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -202px -302px;
     background-size: 434px 416px;
}
.calender::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -57px -303px;
     background-size: 434px 416px;
}
.happy::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -144px -303px;
     background-size: 434px 416px;
}
.m_box::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -289px -303px;
     background-size: 434px 416px;
}
.vibe::after{
     background: url('../img/sp_main.2b26eb67.png') no-repeat;
     background-position: -334px -144px;
     background-size: 434px 416px;
}
 /* 바로가기 메뉴 끝 */
main{
    display: flex;
}
/* 왼쪽 메인컨텐츠 */
.left_content{
    width: 830px; 
    margin-right: 28px;
}
.ad_left{    
    width: 830px;    
    height: 132px; 
    overflow: hidden;
    box-sizing: border-box;
}
.ad_left img{    
    width: 100%;    
    height: 100%;
}
main section>*+*{
    margin-top: 15px;
    }
main .left_content>*{
    border: 1px solid lightgray; 
    border-radius: 8px;}

/* 뉴스 컨텐츠 */
.main_news{    
    width: 830px;    
    height: 430px;
}
.content_wrap{    
    padding: 20px 20px 18px;
}
.m_news_type{
    display: flex; 
    font-size: 16px;
    margin-bottom: 20px;
}
.m_news_type li{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.m_news_type li+li::before{
    content:"";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 10px;
    width: 1px;
    height: 17px;
    transform: rotate(20deg);
    background: lightgray;
}
.m_n_t_stand.on{
    font-weight: bold;
}
.m_news_type .m_n_t_stand::after{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: lightgray;
    margin: 0 6px 0 5px;
}
.m_news_type .m_n_t_edit::before{
    display: none;
} 
.m_n_t_sports a{
    display: flex;
    justify-content: center;
}
.live_badge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 18px;
    background:#f4361e;
    border-radius: 20px;
    margin-left:5px ;
    font-size: 11px;
    color: white;
}
.live_badge::before{
    content: "";
    display: inline-block;
	width: 14px;
	height: 10px;
    background: url('../img/sp_main.2b26eb67.png') no-repeat -118px -117px;
	background-size: 434px 416px;
    margin-right: 4px;
}
.m_news_type .m_n_t_ad{
    display: flex;
    width: 190px; 
    height: 20px;
    margin-left: auto;   
    margin-right: 12px; 
}
.m_news_type .m_n_t_ad img{
    width: 190px; 
    height: 20px;
} 
.m_news_type .m_n_t_ad::before{
    display: none;
} 
.m_news_sub_title{
    position: relative;
    display: flex;
    height: 50px;
    margin: 20px 0px 18px;
    padding: 18px 20px;
    background: #f6f7f9;
    box-sizing: border-box;
    font-size: 14px;
}
.m_news_sub_title a:hover{
    text-decoration: underline;
}

.all_news{
    display: flex;
    justify-content: center;
    align-items: center;
}


.all_news button{
    background: url('../img/sp_main.2b26eb67.png') no-repeat ;
    background-size: 434px 416px ;    
    background-position: -318px -248px;
    width: 10px;
    height: 5px;
    border: 0;
    padding: 0;
    cursor: pointer;
    margin-left:5px ;
    margin-right: 10px;
}
.open .all_news button{
    transform: rotate(180deg);
}

.subscribe{
    display: none;
    position: absolute;
    top: 40px;
    left: 29px;  
    width: 140px;
    height: 50px;
    border: 1px solid #2868f2;
    border-radius: 5px;
    background: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.open .subscribe{
    display: flex;
}
.subscribe::before{
    content: "";
    position: absolute;
    bottom: 50px;
    left:60px;
    width: 20px;
    height: 11px;
    background: url(../img/sp_main.2b26eb67.png)-294px -384px;
	background-size: 434px 416px;
}
.news_detail::before{
    content: "";
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #d3d4d6;
    margin-right: 5px;
}
.news_detail a+a::before{
    content: "\00b7";
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.news_detail a+a::before:hover{
   text-decoration: none;
}
.n_detail_select{
    margin-left: auto;
}
.n_detail_select a+a::before{
    content: "";
    display:inline-block;
    width: 1px;
    height: 12px;
    background: #d3d4d6;
    margin: 0 12px;                 
}
.news_home{
    font-weight: bold;
}
.m_n_hidden_button a:hover{
    text-decoration: underline;
}
.m_news_list{
    width: 788px;
    height: 224px;
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 0;
}
.m_news_list li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 55px;
    border-right:1px solid lightgray;
    border-bottom:1px solid lightgray;
    position: relative;
    font-size: 12px;
}
.m_news_list li>a{
    display: flex;
justify-content: center;
align-items: center;
    width: 100%;
    height: 100%;
}
.m_news_list li:hover .m_n_hidden_button{
    display: flex;
 
}
.m_news_list li img{
    max-width: 100px;
    height: 25px;
    object-fit: contain;
}
.m_n_hidden_button{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    background: #2868f2;
    top: 0;
    left: 0;
}
.m_n_hidden_button a+a::before{
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 1px;
    height: 12px;
    background: lightgray;
}

.m_news_list li:nth-of-type(2n){
    width: 131px;
}
.m_news_list li:nth-of-type(6n){
    border-right: 0px;
}

.m_news_arrow{
    height: 57px;
    font-size: 13px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m_news_arrow span{margin:0 20px;}
.m_news_arrow i{color: lightgray;}
.m_news_arrow b{
    font-weight: 600;
    color: #4768bb;}
.prev_b{transform: rotate(180deg);}
.prev_b,.next_b{
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    position: relative;
    background: white;
}
.prev_b::after,.next_b::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background:url('../img/sp_main.2b26eb67.png')-425px -90px;
	background-size: 434px 416px;
    width: 7px;
    height:10px;
    transform: translate(-50%,-50%);
}
/* 뉴스컨텐츠 끝 */
/* 쇼핑컨텐츠 */

.main_shopping{
    width: 830px;
    height: 562px;
}
.main_shopping .content_wrap{
    padding-bottom: 4px;
}
.main_shopping a:hover{
    text-decoration: underline;
}
.m_shop_type{
    display: flex; 
    font-size: 16px;
    margin-bottom: 20px;
}
.m_shop_type li{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.m_shop_type li+li::before{
    content:"";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 10px;
    width: 1px;
    height: 17px;
    transform: rotate(20deg);
    background: lightgray;
}
.m_shop_type li.on{
    font-weight: bold;
}
.m_sub_title_wrap{
    display: flex;
    margin: 20px 0px 18px;
}
.m_sub_title{
    position: relative;
    display: flex;
    width: 668px ;
    height: 50px;
    padding: 18px 20px;
    background: #f6f7f9;
    box-sizing: border-box;
    font-size: 14px;
    align-items: center;
}
.m_sub_title a:hover{
    text-decoration: underline;
}
.shop_today{
    display: flex;
    align-items: center;
        font-size: 14px;
    font-weight: bold;
}
.shop_today::after{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0 10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: lightgray;
    margin: 0 8px 0 9px;
}
.gmarket_ad a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmarket_ad i{
    color: #9858f5;
}
.gmarket_ad img{
    width: 48px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px ;

}
.m_shop_arrow{
    display: flex;
    align-items: center;
    margin-left:27px ;
    font-size: 13px;
}
.m_shop_arrow .prev_b{
    border-left: 0;
    border-radius:0 5px 5px 0;
    margin-left: 9px;    
}
.m_shop_arrow .next_b{
    border-radius: 0 5px 5px 0;
}
.m_s_content{
    display: flex;
}
.goods_list{
    display: flex;
    flex-flow: row wrap;
    width: 522px;
    height: 375px;
    margin-right: 18px;
}
.goods_list a{
    display:inline-block;
    height: 171px;
}

.goods_list>li{
    overflow: hidden;
    font-size: 13px;
    width: 98px;
    height: 171px;
}
.goods_list>li:nth-of-type(5n+1){margin-left: 0px;}
.goods_list>li+li{margin-left: 8px;}
.goods_list img{
    width: 98px;
    height:  126px;
    margin-bottom: 7px;
    border-radius: 5px;
}
.goods_list>li:hover img{
    transform: scale(1.1);
}
.goods_list li p{
    line-height: 20px;
}
.s_mall_list{
    font-size: 13px;
    box-sizing: border-box;
    width: 248px;
    height: 84px;
    display: flex;
    flex-flow: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #fafbfd;
    padding:12px 10px;
}
.s_mall_list ul{
    display: flex;
    justify-content: space-between;

}
.s_mall_list li{
    display: flex;
    align-items: center;
}
.s_mall_list li.on{
    font-weight: bold;
}

.s_mall_list ul li+li::before{
    content: "";
    display:flex; 
    justify-content:center;
    align-items: center; 
    margin: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: lightgray;
}
.s_mall_list .middle{
    margin: 10px 0;
}
.s_mall_list .top li+li::before{
    margin:0 14px;
}
.s_mall_list .middle li+li::before{
    margin: 0 1px;
}
.s_mall_list .bottom li+li::before{
    margin:0 11px ;
}

/* .s_mall_list .ssg::before,.s_mall_list .gs::before{
    display: none;
} */
.middle::before,.bottom::before{
    display: none;
}
.m_s_short_cut{
    display: flex;
    width: 248px;
    margin: 13px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #fafbfd;
    box-sizing: border-box;
    padding: 8px 18px;
    font-size: 13px ;
    justify-content: space-between;
}
.m_s_short_cut li a{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    line-height: 17px;
    }
.m_s_short_cut li a::before{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 34px;
    height: 34px;
    border: 1px solid lightgray;
    margin-bottom: 6px;
    border-radius: 50%;
}
.m_s_short_cut a::after{
    position: absolute;
    top:24%;
    left: 51%;
    transform: translate(-50%,-25%);
    content: "";
}
.m_s_short_cut .home::after{
    background: url(../img/sp_main.2b26eb67.png) -303px -53px;
	background-size: 434px 416px;
	width: 17px;
	height: 17px;
}
.m_s_short_cut .review::after{
    background: url(../img/sp_main.79463f15.png)-77px -41px;
	background-size: 158px 137px;
	width: 16px;
	height: 17px;
}
.m_s_short_cut .order::after{
    top:25%;
    left: 50%;
    transform: translate(-45%,-13%);
    background: url(../img/sp_main.2b26eb67.png) -303px -88px;
	background-size: 434px 416px;
	width: 17px;
	height: 17px;
}
.m_s_short_cut .basket::after{
    background: url(../img/sp_main.2b26eb67.png)-207px -273px;
	background-size: 434px 416px;
	width: 17px;
	height: 17px;
}

.shop_ad{
    font-size: 13px;
}
.shop_ad img{
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 246px;
    height: 144px;
    object-fit: contain;
    margin-bottom: 12px;
}
.shop_ad span{
    display: flex;
    justify-content: center;
    line-height: 17px;
}








.main_etc{
    width: 830px;
    height: 1040px;
}
.right_content{
    width: 422px;
    box-sizing: border-box;
}
.right_content article>*{border: 1px solid lightgray;  border-radius: 8px;}
.right_content article>*+*{margin-top: 15px;}
#login{
    display: flex;
    flex-flow: column;
    width: 422px;
    height: 166px;
    box-sizing: border-box;
    padding: 25px 20px 22px;
    font-size: 14px;
    align-items: center;
}
#login>div a+a::before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 13px;
    background: lightgray;
}



.login_box{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 56px;
    color: white  ;
    background: #03c75a;
    border-radius: 5px;
    margin: 15px 0 20px;
}
.login_box::before{
    content: "";
    display: inline-block;
    background: url(../img/sp_main.2b26eb67.png)-120px -166px;
	background-size: 434px 416px;
	width: 72px;
	height: 12px;
    margin-right: 8px;
}


.ad_right{
    width: 420px;
    height: 240px;
    overflow: hidden;
}
.ad_right img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}
.main_weather,.main_stock{
    width: 420px;
    height: 236px;
}
.widget{
    width: 420px;
    height: 805px;
}
.whale{
    width: 420px;
    height: 80px;
}

footer{
    background: #f5f6f8;
    height: 300px;
}
footer>div{
    border: 1px solid #519b71;
    height: 100%;
}

/* IE9,10 */
@media screen and (min-width:0\0){
    /* Enter your style code */
    .short_cut_menu>li{
        float: left;
    }
} 